<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#modalInput">Add Sample Data</button>
<div class="modal fade" id="modalInput" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">How many values to be added?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Value:</label>
            <input type="text" class="form-control" id="value" #sampleSize (keyup) = "onType(sampleSize.value)" type="number">
            <label for="recipient-name" class="col-form-label">{{showValue}}</label>
          </div> 
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click) = "click(sampleSize.value)">Confirm</button>
      </div>
    </div>
  </div>
</div>