
<body>

     <div id="login-dp" class="row">

          <div class="col-md-12">
               <div class="social-buttons">
                    <a href="#" class="btn btn-fb"><i class="fa fa-facebook"></i> Facebook</a>
                    <a href="#" class="btn btn-tw"><i class="fa fa-twitter"></i> Twitter</a>
               </div>
               {{loginForm.value | json}}
               <form [formGroup]="loginForm" class="form" role="form" method="post" action="login" accept-charset="UTF-8" id="login-nav">
                    <div class="form-group">
                         <label class="sr-only" for="inputEmail">Email address/ Username</label>
                         <input type="email" class="form-control" id="inputEmail"  formControlName="inputEmail" placeholder="Username/Email address"
                              required>
                         <label class="sr-only" for="inputPassword">Password</label>
                         <input type="password" class="form-control" id="inputPassword"  formControlName="inputPassword" placeholder="Password"
                              required>
                         <div class="help-block text-right"><a href="">Forget the password ?</a></div>
                         <button (click)="authenticate()" class="btn btn-primary btn-block" [disabled]="!loginForm.valid">Sign in</button>
                    </div>
               </form>

                    <div class="checkbox">
                         <label>
                              <input type="checkbox"> keep me logged-in
                         </label>
                    </div>
          </div>
          <div class="bottom text-center">
               New here ? <a href="{{feServerUrl}}"><b>Join Us</b></a>
          </div>
     </div>
</body>